<div id="profContainer">
  <div id="userImgCont">
    <img src="/img/user.svg" width="80px"/>
    <div id="bioName">
      <% if(name == "") { %>
        <h1>No User Found!</h1>
      <% } else{  %>
        <h1>
          <%= name %>
        </h1>
      <% }  %>
      <sub>bio</sub>    
    </div>
    <% if(request == "direct") { %>
      <p id="eedit">edit</p>
    <% }  %>
  </div>
  <% if(request == "alt") { %>
      
  <% }  %>
  <div id="profileBottom">
    <div id="profileAbout">
      <h3>
        About
      </h3>
      <ul>
        <li>
          Full Name: <%= name %>
        </li>
        <% if(request == "alt") { %>
          <li>
            Userame: <%= username %>
          </li>
        <% } else { %>
          <li>
            Userame: <%= user.username %>
          </li>
        <% } %>
        <li>
          Complated: <%= db.length %>
        </li>
        <li>
          Description: tempor deserunt veniam incididunt consequat nisi sit quis ut fugiat
        </li>
      </ul>
    </div>
    <div id="submitedChallenges">
      <h3>
        Projects
      </h3>
      <ul>
        <% if(db.length > 0 && db.length <= 9){ %>
          <% for(let i = 0; i < db.length; i++) { %>
            <li> 
              <a href='#' >
                <%= db[i].challengeName %> 
              </a>
            </li>
          <% } %>
        <% } else if(db.length > 0 && db.length > 9) { %>
          <% for(let i = 0; i < 9; i++) { %>
            <li> 
            <a href='#'>
              <%= db[i].challengeName %> 
            </a>
          </li>
          <% } %>
          <li>
            <a href="/<%=db[0].owner.username%>/more" style="color: pink">
                See more...
            </a>
          </li>
        <% } else { %>
          <li> No Data Found </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>