<div id="rev-container">
  
  <div id="list">
    <h3 id="revTitle">The List My Friend (<%= length %>)</h3>
    <ul id="reviewUl">
      <% db.forEach(data => { %>
        <li id="revLi">
          <a id="reviewLink" href="<%= data.challengeLink %>">
            <%=data.challengeName%> 
          </a>
          <% if(data.owner.username === uname) { %>
            <a id="linkOwner" href="/challenges/edit/<%= data._id %>">Edit</a>
          <% } else { %>
            <a id="linkOwner" href="/owners/<%= data.owner.username %>">
              @<%=data.owner.username%> 
            </a>
          <% } %>
      </li>
      <% }) %>
    </ul>
  
    <div class="pagination">
        <% if(pages > 1) { %>
          <% if(current == 1){ %>
            <a class="prev disabled">&laquo;</a>
           <% } else{ %>
            <a href="/challenges/<%= current - 1 %>" class="prev">&laquo;</a>
          <% } %>
          <% for(let i = 1; i <= pages; i++){ %>
            <!-- <a href="#" class="active">1</a> -->
            <% if(i == current) { %>
              <a class="active" href="/challenges/<%= i %>"> 
                <%= i %> 
              </a>
            <% } else { %>
              <a href="/challenges/<%= i %>">
                <%= i %> 
              </a>
            <% } %>
          <% } %>
          <% if(current == pages){ %>
            <a class="prev disabled">&raquo;</a>
           <% } else{ %>
            <a href="/challenges/<%= current + 1 %>" class="prev">&raquo;</a>
          <% } %>
        <% } %>
    </div>
  </div>
</div>