<div class="challenges">
    <h3 id="title" class="theFont">Completed Challenges</h3>
  <div class="allinone">
    
    <% let i = 1 %>
    <% db.forEach(ch => { %>
      <div class="card">
        <div class="img">
          <img src="https://picsum.photos/20/30?random=<%= i %>" alt="" />
          <% i++ %>
        </div>
        <div class="textBox">
          <div class="textContent">
            <p class="h1"><span><%= ch.name %> </span></p>
            <% if(ch.status == "Open") { %>
              <sub style="color: green"> <%= ch.status %> </sub>
            <% } else if(ch.status == "Pending") { %>
              <sub style="color: gray"> <%= ch.status %> </sub>
            <% } else { %>  
              <sub style="color: red"> <%= ch.status %> </sub>
            <% } %>  
              <button class="btn"> <a href="details?name=<%= ch.name %> "> View More </a> </button>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>