<div id="profile-left">
  <div id="profile-intro">
    <img src="/img/user.svg"/>
    <h1> <%= `${userData.name}  ${userData.lastName}` %> </h1>
  </div>
  <div id="profile-details">
    <p>Full Name: <%= `${userData.name}  ${userData.lastName}` %> </p>
    <p>Username: <%= userData.username %> </p>
    <p>Completed Challenges: <%= userCompletedChallenges.length %> </p>
    <p>User Badge: Biggner</p>
  </div>
</div>
<div id="profile-right">
  <h3> Projects</h3>
  <div id="prof-proj-cont">
    <% userCompletedChallenges.forEach(project => { %>
      <div class="profile-projects">
        <img src="/img/1.png" />
        <p><%= project.challengeName.name %> Challenege </p>
        <button>Visit</button>
      </div>
      <% }) %>
  </div>
</div>