<div id="profile-left">
  <div id="profile-intro">
    <img src="/img/user.svg"/>
    <h1> <%= `${userData.firstName}  ${userData.lastName}` %> </h1>
  </div>
  <div id="profile-details">
    <p>Full Name: <%= `${userData.firstName}  ${userData.lastName}` %> </p>
    <p>Username: <%= userData.username %> </p>
    <p>Completed Challenges: <%= userCompletedChallenges.length %> </p>
    <p>User Badge: Biggner</p>
  </div>
</div>
<div id="profile-right">
  <h3> Projects</h3>
  <div id="prof-proj-cont">
    <% let i = 1 %>
    <% userCompletedChallenges.forEach(project => { %>
      <div class="profile-projects">
        <!-- <img src="https://picsum.photos/20/30?random=<%= /* i */ %>" alt="" /> -->
        <%i++%>
        <p><%= project.challengeName.name %></p>
        <% if(project.rate == "not rated") { %>
        <p>NR</p>
        <% } else { %>
        <p><%= project.rate %></p>
        <% } %>
        <a href="<%= project.challengeLink %>">Visit</a>
      </div>
      <% }) %>
  </div>
</div>