<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 
    
    -->
    <!-- <meta name="viewport" content="width=720" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" type="text/css" href="/demo.css" />
    <title><title></title>
    <style>
      
    </style>
  </head>
  <body>
    <main id="main">
      <!-- header -->
      <section class="header">
        <div>
          <nav class="navbar">
            <div class="main-tittle"><h3 class="theFont">Loadung</h3>
            </div>

            <div class="navigations theFont" >
                <a href="/demo">Home</a>
              <% if(auth) { %>
                <a id="profile-nav" href="/demo/profile">Profile</a>
                <a href="/demo/submit">Submit</a>
              <% } %>
                <a href="/demo/challenges">Challeges</a>
                <a href="#">Leaderboard</a>
              <%if(auth) { %>
                <a id="name-prof" href="/demo/profile" style="color: ; opacity: .7"><%= userData.name %> </a>
              <% } else { %>
                <a href="/demo/users/login">Login</a>
              <% } %>
            </div>
          </nav>
        </div>
      </section>
      <section class="home-section">
        <div class="page-title-container" id="li">
            <p data-value='<%= pageTitle %>' data-initial='<%= pageTitle %>' class="page-title" id="page-title">
              <%= pageTitle %>
            </p>
        </div>
        <%- include (`./demo/${page}`) %>
      </section>
      <% if(auth) { %>
        <form id="logout" method="post" action="/demo/logout" id="logot">
          <input type="submit" value="Logout" id="logout-btn" class="small-btn">
        </form>
      <% } %>
    </main>
    
      <div id="colorP">
        <div>
          Change Background Color <input type="color" id="inpColor">
        <hr>
        </div>
        <div>
          Change Font Color <input type="color" id="fontColor">
        </div>
        <div>
        <hr>
            <button id="reset">RESET</button>
        </div>
      </div> 
      
    <script src="/js/jquery.js"></script>
    <script src="/js/theQueryFile.js"></script>
    <script src="/img/index.js"></script>
    <script src="/js/<%=page%>.js"></script>
  </body>
</html>
<!-- 
Sure, here are 10 examples of sarcastic and funny 1-year work anniversary messages:

1. "Wow, can you believe it's only been a year? It feels like we've been working together for at least a decade."

2. "Congratulations, you've survived a whole year of our company's shenanigans. Here's to many more!"

3. "Happy work-iversary! I can't believe you've put up with us for this long."

4. "It's been a year already? I guess time flies when you're having... well, let's just say time flies."

5. "Congrats on reaching the one-year mark! You've earned a whole extra day of vacation time... just kidding, we're not that generous."

6. "Who knew you could put up with us for a year? You deserve a medal or at least a stiff drink."

7. "Happy 1-year work-iversary! I'm surprised you haven't quit yet, but hey, more power to you."

8. "A year of working together? Well, at least we haven't killed each other... yet."

9. "Happy anniversary! You've made it through 365 days of office politics and drama. Here's to another year of the same."
l10. "Congratulations on your one-year work-iversary! We're so glad you stuck around to see how this dumpster fire of a company turns out."

Remember to use these types of messages with caution and only with colleagues who have a good sense of humor and are comfortable with sarcasm. -->